@model List<EmployeeTaskCore.Models.EmployeeProjectModel>

@{
    ViewData["Title"] = "ProjectInformation";
}

<div class="mt-4 mb-2">
    <h3 class="text-center">Manager Projects Information</h3>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Project ID</th>
            <th>Project Name</th>
            <th>Start Date</th>
            <th>Due Date</th>
            <th>Resources</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            <tr>
                <td>@project.ProjectId</td>
                <td>@project.ProjectName</td>
                <td>@project.StartDate</td>
                <td>@project.DueDate</td>
                <td>@project.Resources</td>
                <td>
                    <a  asp-action="EditProject" asp-route-ProjectId="@project.ProjectId" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a asp-action="ProjectEmployees" asp-route-ProjectId="@project.ProjectId" class="btn btn-success">Employees</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="AddNewProject" class="btn btn-success btn p-2 my-2">Add new Project</a>
</div>
<div>
    <a asp-controller="Home" asp-action="EmployeeOrAdmin" class="btn btn-secondary btn"> Goto Dashboard</a>
</div>
